%p Social Media Icon Transitions.
%a{ :href => "http://mattroelle.com" } Matt Roelle

#icons
 %h1 Flip
 .flip-container
  #flip
   %i.fa.fa-twitter
   %i.fa.fa-twitter
 .flip-container
  #flip-circle
   %i.fa.fa-twitter
   %i.fa.fa-twitter
 .flip-container
  #flip-reversed
   %i.fa.fa-twitter
   %i.fa.fa-twitter
 .flip-container
  #flip-circle-reversed
   %i.fa.fa-twitter
   %i.fa.fa-twitter
 %h1 Fill
 #fill
  %i.fa.fa-twitter
 #fill-circle
  %i.fa.fa-twitter
 %h1 Swap
 #swap
  %i.fa.fa-twitter
  %i.fa.fa-twitter
 #swap-circle
  %i.fa.fa-twitter
  %i.fa.fa-twitter
 %h1 Morph
 #morph
  %i.fa.fa-twitter
 #morph-reverse
  %i.fa.fa-twitter
 %h1 Fade
 #fade
  %i.fa.fa-twitter
 #fade-circle
  %i.fa.fa-twitter